# Application Config
SERVER_PORT=8080
LOG_LEVEL=INFO

# Database Config
POSTGRES_DB=wallet_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
DB_URL=jdbc:postgresql://db:5432/wallet_db
TEST_DB_URL=jdbc:postgresql://localhost:5432/wallet_db  # Used by mvn test (host-mapped port)
